<div class="container">
  <div class="haikuContainer">

    <%@five_sentence.first.each do |word| %>
       <%=word.capitalize%>
     <% end %><br>
     
     <% @seven_sentence.first.each do |word| %>
       <%=word.capitalize%>
     <% end %><br>
     
     <% @five_sentence.second.each do |word| %>
       <%= word.capitalize%>
     <% end %><br>
    <p>-- <%= @post.name %></p>
    <br><%= link_to("Retweet","https://twitter.com/intent/tweet?via=hashtaghaiku&text=&&url=http://www.hashtaghaiku.com/posts/#{@post.id}", class: 'linkBtn') %>
   <%= link_to("Go Back",root_path, class: 'linkBtn') %>
  </div>
</div>
